
@import '_vars';

body {
    height: 2080px;
    background: rgb(239,130,9);
    background: linear-gradient(to bottom, #12246d 0%,#3751ff 100%);
    color: white;
    font-family: 'Roboto Mono', monospace;
}

.svg-graphic {
    height: 500px;
    width: 500px;
}



